.game_CE .icon {
  background-image:url("images/icons/CE.png");
}

.game_H2 .icon {
  background-image:url("images/icons/H2.png");
}

.game_H3 .icon {
  background-image:url("images/icons/H3.png");
}

.game_HW .icon {
  background-image:url("images/icons/HW.png");
}

.game_ODST .icon {
  background-image:url("images/icons/ODST.png");
}

.game_HR .icon {
  background-image:url("images/icons/HR.png");
}

.game_H4 .icon {
  background-image:url("images/icons/H4.png");
}

.game_SA .icon {
  background-image:url("images/icons/SA.png");
}

.game_SS .icon {
  background-image:url("images/icons/SS.png");
}

.game_H5G .icon {
  background-image:url("images/icons/H5G.png");
}