body {
  background-color:black;
  margin:0px;
  padding:0px;
  font-family:Arial,sans-serif;
  color:white;
  font-size:16pt;
}

@media not all and (max-width: 1260px) {
  body {
    font-size:16pt;
  }
}

@media all and (max-width: 1260px) {
  body {
    font-size:18pt;
  }
}

a {
  transition:0.4s;
  color:#3e33d8;
  text-decoration:none;
}

@media all and (any-hover: hover) {
  a:hover {
    transition:0.4s;
    color:#4976f1;
  }
}

.header {
  background-size:100%;
  width:100%;
  max-height:56.25vw;
  background-position:center top;
  height:777px;
  display:flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;
  text-align:center;
  position:relative;
}

.header-fade {
  width:100%;
  height:77%;
  position:absolute;
  bottom:0px;
  left:0px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.0), black);
}

.header-title {
  font-family:wf_heroic-condensed-pro_medium,Calibri,"Arial Narrow","Trebuchet MS",Tahoma,Arial,sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  color:white;
  font-size:64pt;
  padding:5px 20px;
  height:80px;
  z-index:999;
}

.description {
  width:80%;
  margin:0px auto;
  text-align:center;
}

footer {
  font-style:italic;
  font-size:12pt;
  text-align:center;
  width:80%;
  margin:0px auto;
}

hr {
  width:77vw;
  clear:both;
}