@import "common.css";

@media not all and (max-width: 2560px) {
  .header {
    background-image:url("images/backgrounds/3840px_LandingPage.jpg");
  } 
}

@media (max-width: 2560px) {
  .header {
    background-image:url("images/backgrounds/2560px_LandingPage.jpg");
  }
}

@media (max-width: 1920px) {
  .header {
    background-image:url("images/backgrounds/1920px_LandingPage.jpg");
  }
}

@media (max-width: 1600px) {
  .header {
    background-image:url("images/backgrounds/1600px_LandingPage.jpg");
  }
}

@media (max-width: 1280px) {
  .header {
    background-image:url("images/backgrounds/1280px_LandingPage.jpg");
  }
}

.options {
  width:80%;
  margin:0px auto;
}

.options-simple {
  width:100%;
  padding:10px 0px;
  text-align:center;
}

#options-simple-search {
  border:none;
  width:100%;
}

@media not all and (max-width: 1260px) {
  #options-simple-search {
    border-radius:30px;
    height:60px;
    padding:0px 20px;
    font-size:16pt;
  }
}

@media all and (max-width: 1260px) {
  #options-simple-search {
    border-radius:20px;
    height:40px;
    padding:0px 10px;
    font-size:12pt;
  }
}


#options-simple-expand {
  transition:0.4s;
  padding:10px;
  margin:10px auto 0px auto;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
}

#options-expand-label {
  display:inline-block;
  width:343px;
  text-align:center;
  font-weight:bold;
}

#options-simple-expand img {
  display:inline-block;
  width:30px;
  height:30px;
  margin:5px;
}

@media not all and (max-width: 1200px) {
  #options-advanced {
    display:table-row;
  }

  #options-advanced-sort {
    display:table-cell;
  }

  #options-advanced-filters {
    display:table-cell;
  }
}

@media all and (max-width: 1200px) {
  #options-advanced {
    display:block;
    width:100%;
    overflow:hidden;
  }

  #options-advanced-sort {
    display:block;
    width:100%;
  }

  #options-advanced-filters {
    display:block;
    width:100%;
  }
}

.options-advanced-heading {
  font-weight:bold;
  margin:5px;
  padding:5px;
}

@media not all and (max-width: 1260px) {
  .options-advanced-heading {
    font-size:20pt;
  }
}

@media all and (max-width: 1260px) {
  .options-advanced-heading {
    font-size:14pt;
  }
}

#options-advanced div ul {
  list-style:none;
  margin:10px;
  padding:0px;
}

@media not all and (max-width: 1200px) {
  #options-advanced ul li {
    margin:5px;
  }
}

@media all and (max-width: 1200px) {
  #options-advanced ul li {
    margin:10px;
  }
}

#options-advanced ul li label {
  display:flex;
  align-items:center;
}

#options-advanced-sort ul li {
  width:300px;
}

#options-advanced-filtersList li {
  display:inline-block;
}

#options-advanced-filtersList li:first-child {
  width:100%;
}

@media not all and (max-width: 1200px) {
  #options-advanced-filtersList li:not(:first-child) {
    width:375px;
  }
}

@media all and (max-width: 1200px) {
  #options-advanced-filtersList li {
    width:100%;
  }
}

#options-advanced-filtersList {
  display:block;
  width:auto;
}

#options-advanced div ul li label input {
  float:left;
  margin:5px 10px 5px 5px;
}

.archiveList {
  margin:0px auto;
  padding:10px 0px;
  text-align:center;
  overflow:hidden;
}

.archiveList li:not(.error) {
  position:relative;
  top:0px;
  left:0px;
  list-style:none;
  display:inline-block;
  overflow:hidden;
}

@media not all and (max-width: 1900px) {
  .archiveList li:not(.error) {
    width:920px;
    height:520px;
    margin:5px;
    border-radius:30px;
  }
}

@media all and (max-width: 1900px) {
  .archiveList li:not(.error) {
    width:620px;
    height:350px;
    margin:5px;
    border-radius:25px;
  }
}

@media all and (max-width: 1280px) {
  .archiveList li:not(.error) {
    width:500px;
    height:282px;
    margin:5px;
    border-radius:20px;
  }
}

@media all and (max-width: 1200px) {
  @media all and (orientation: portrait) {
    .archiveList li:not(.error) {
      width:92vw;
      height:52vw;
      margin:2vw;
      border-radius:8vw;
    }
  }

  @media all and (orientation: landscape) {
    .archiveList li:not(.error) {
      width:46vw;
      height:26vw;
      margin:1vw;
      border-radius:4vw;
    }
  }
}

.archiveList li .thumb {
  transition:0.4s;
  width:100%;
  height:100%;
}

.archiveList li:hover .thumb {
  transition:0.4s;
}

@media not all and (max-width: 1900px) {
  @media all and (any-hover: hover) {
    .archiveList li .thumb {
      background-position:-40px -24px;
      background-size:1000px 600px;
    }

    .archiveList li:hover .thumb {
      background-position:0px 0px;
      background-size:920px 552px;
    }
  }

  @media all and (any-hover: none) {
    .archiveList li .thumb {
      background-position:0px 0px;
      background-size:920px 552px;
    }
  }
}

@media all and (max-width: 1900px) {
  @media all and (any-hover: hover) {
    .archiveList li .thumb {
      background-position:-27px -16px;
      background-size:674px 404px;
    }

    .archiveList li:hover .thumb {
      background-position:0px 0px;
      background-size:620px 372px;
    }
  }

  @media all and (any-hover: none) {
    .archiveList li .thumb {
      background-position:0px 0px;
      background-size:620px 372px;
    }
  }
}

@media all and (max-width: 1280px) {
  @media all and (any-hover: hover) {
    .archiveList li .thumb {
      background-position:-22px -13px;
      background-size:543px 326px;
    }

    .archiveList li:hover .thumb {
      background-position:0px 0px;
      background-size:500px 300px;
    }
  }

  @media all and (any-hover: none) {
    .archiveList li .thumb {
      background-position:0px 0px;
      background-size:500px 300px;
    }
  }
}

@media all and (max-width: 1200px) {
  @media all and (any-hover: hover) {
    @media all and (orientation: portrait) {
      .archiveList li .thumb {
        background-position:-4vw -2.4vw;
        background-size:100vw 60vw;
      }
  
      .archiveList li:hover .thumb {
        background-position:0vw 0vw;
        background-size:92vw 55.2vw;
      }
    }

    @media all and (orientation: landscape) {
      .archiveList li .thumb {
        background-position:-2vw -1.2vw;
        background-size:50vw 30vw;
      }
  
      .archiveList li:hover .thumb {
        background-position:0vw 0vw;
        background-size:46vw 27.6vw;
      }
    }
  }

  @media all and (any-hover: none) {
    @media all and (orientation: portrait) {
      .archiveList li .thumb {
        background-position:0vw 0vw;
        background-size:92vw 55.2vw;
      }
    }

    @media all and (orientation: landscape) {
      .archiveList li .thumb {
        background-position:0vw 0vw;
        background-size:46vw 27.6vw;
      }
    }
  }
}

.archiveList li .icon {
  position:absolute;
  background-size:auto 100%;
}

@media not all and (max-width: 1200px) {
  .archiveList li .icon {
    top:20px;
    right:20px;
    width:160px;
    height:80px;
  }
}

@media all and (max-width: 1200px) {
  @media all and (orientation: portrait) {
    .archiveList li .icon {
      top:5vw;
      right:5vw;
      width:20vw;
      height:10vw;
    }
  }

  @media all and (orientation: landscape) {
    .archiveList li .icon {
      top:2vw;
      right:2vw;
      width:10vw;
      height:5vw;
    }
  }
}

.archiveList li .title {
  position:absolute;
  bottom:20px;
  left:0px;
  font-family:wf_heroic-condensed-pro_medium,Calibri,"Arial Narrow","Trebuchet MS",Tahoma,Arial,sans-serif;
  font-weight:bold;
  color:white;
  background-color:rgba(0, 0, 0, 0.77);
}

@media not all and (max-width: 1900px) {
  .archiveList li .title {
    padding:5px 20px;
    font-size:48pt;
  }
}

@media all and (max-width: 1900px) {
  .archiveList li .title {
    padding:5px 20px;
    font-size:42pt;
  }
}

@media all and (max-width: 1280px) {
  .archiveList li .title {
    padding:5px 20px;
    font-size:36pt;
  }
}

@media all and (max-width: 1200px) {
  @media all and (orientation: portrait) {
    .archiveList li .title {
      padding:2vw 6vw;
      font-size:24pt;
    }
  }

  @media all and (orientation: landscape) {
    .archiveList li .title {
      padding:1vw 2vw;
      font-size:18pt;
    }
  }
}

.archiveList li .title:not(.nocaps) {
  text-transform:uppercase;
}

@media (any-hover: hover) {
  .archiveList li .hover {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    transition:0.4s;
  }

  .archiveList li .hover:hover {
    transition:0.4s;
    background-color:rgba(255, 255, 255, 0.1);
  }
}

@media not all and (any-hover: hover) {
  .archiveList li .hover {
    display:none;
  }
}

.error {
  font-style:italic;
  list-style:none;
  display:inline-block;
}

@media not all and (max-width: 1200px) {
  .error {
    width:800px;
    font-size:12pt;
  }
}

@media all and (max-width: 1200px) {
  @media all and (orientation: portait) {
    .error {
      width:92%;
      font-size:10pt;
    }
  }

  @media all and (orientation: landscape) {
    .error {
      width:92%;
      font-size:9pt;
    }
  }
}